<launch>
<!-- 
     This is the main launch file for Jomegatron
     Author: James Anderson
     Date: 4/23/12
-->



    <!-- Define arguments and defaults  -->
    <arg name="rviz" default="1" />
    <arg name="wiimote" default="1" />
    <arg name="sound" default="1" />
    <arg name="config" default="1" />
    <arg name="usb" default="0" />
    <arg name="robot" default="1" />
    <arg name="edges" default="0" />
    <arg name="joint_gui" default="1" />
    <arg name="color" default="0" />

    
    <include file="$(find MST_Control)/launch/jomegatron_robot.launch">
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="wiimote" value="$(arg wiimote)" />
        <arg name="sound" value="$(arg sound)" />
        <arg name="config" value="$(arg config)" />
        <arg name="usb" value="$(arg usb)" />
        <arg name="robot" value="$(arg robot)" />
        <arg name="edges" value="$(arg edges)" />
        <arg name="joint_gui" value="$(arg joint_gui)" />
        <arg name="color" value="$(arg color)" />
    </include>
    


</launch>
